{% extends 'base.html.twig' %}

{% block title %}gestion backoffice des chambres{% endblock %}

{% block body %}
         {# ->add('titre')
            ->add('description_courte')
            ->add('description_longue')
            ->add('photo')
            ->add('prix_journalier')
            ->add('date_enregistrement')  #}
{# {{ form(form.Chambre)}} #}
<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>titre</th>
            <th>description_courte</th>
            <th>description_longue</th>
            <th>photo</th>
            <th>prix_journalier</th>
            <th>date_enregistrement</th>
            <th>option</th>
        </tr>
    </thead>
    <tbody>
    {% for chambre in chambres %}
    <tr>
        <td>{{chambre.id}}</td>
        <td>{{chambre.titre}}</td>
        {# |slice(0, 30) limite le nombre de caractère affiché #}
        <td>{{chambre.descriptionCourte|slice(0, 30)}}</td>
        <td>{{chambre.descriptionLongue|slice(0, 30)}}</td>
        <td>{{chambre.photo}}</td>
        <td>{{chambre.prixJournalier}}</td>
        <td>{{chambre.dateEnregistrement|date('d/m/Y')}}</td> 

        <td><a href="{{path('chambre_modif',{id: chambre.id})}}">modifier</a>
        <a href="{{path('app_chambre_delete',{id: chambre.id})}}">supprimer</a></td>
    </tr>
        
    {% endfor %}
    
    </tbody>

</table>

{% endblock %}
