{% extends 'base.html.twig' %}

{% block title %}formulaire chambre{% endblock %}

{% block body %}
    <h1>formulaire 3 GAMMES DE CHAMBRES</h1>
{# propriete formulaire
  $builder
            ->add('titre')
            ->add('description_courte')
            ->add('description_longue')
            ->add('photo')
            ->add('prix_journalier')
            ->add('date_enregistrement') #}
{# {{ form(form.Chambre)}} #}

{# exemple de formulaire
{% extends "base.html.twig" %}

{% block title %}ajout voiture{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Ajout Voiture</h1>
    <div class="container">
        {{ form_start(formVoiture)}}
            {{ form_row(formVoiture.marque)}}
            {{ form_row(formVoiture.modele)}}
            {{ form_row(formVoiture.prix)}}
            {{ form_row(formVoiture.description)}}
            <button class="btn btn-primary">Ajouter</button>
        {{ form_end(formVoiture)}}
    </div>
    
{% endblock %}
 #}
 

  <h1 class="text-center my-4">
  {% if editMode %}
  Modification de le chambre
  {% else %}
    Création de la chambre
  {% endif %}
  </h1>
  

    <div class="container">
        {{ form_start(formChambre , {
                attr:{
                    novalidate: 'novalidate',
                }
        })}}
            {{ form_row(formChambre.description_longue)}}
            {{ form_row(formChambre.description_courte)}}
            {{ form_row(formChambre.photo)}}
            {{ form_row(formChambre.prix_journalier)}}
            {{ form_row(formChambre.date_enregistrement)}}
            
            <button class="btn btn-primary">Ajouter</button>
        {{ form_end(formChambre)}}
    </div>

{% endblock %}
