{% extends 'base.html.twig' %}
{% block title %}Nos 3 gammes de chambre{% endblock %}
{% block body %}


<div class="example-wrapper">   
    {# <div class="container">
    <section class="row gx-4 gy-3">
            {# ! for valeur in (objet ou tableau) #}
            {# {% for chambre in items %}
            <div class="col-md-3">
                <div class="card border-primary">
                    <div class="card-header">{{ chambre.titre }}</div>
                    <div class="card-body text-center">
                        <p>{{ chambre.description_longue }} </p>
                        <p class="text-end h3">{{ chambre.prix }}€</p>
                        <p>{{ chambre.photo }}</p>
                        
                    </div>
                </div>
            
            </div>
            {% endfor %}
        </section> #}
    {# </div> #}
    <div class="container text-center" >
   <div><h1>NOS 3 GAMMES DE CHAMBRE<strong></h1>

   <H2>3 TARIFS PRESTATIONS SELON VOS ENVIES<strong> </H2>
   <P>le choix entre une chambre classique, confort ou suite dépend de votre budget, de vos préférences en matière de confort et de vos besoins spécifiques lors de votre séjour à l'hôtel. Chacune de ces catégories offre une expérience différente pour répondre aux attentes des voyageurs.
   
   </P>
   <br>
   <P> Chambre Classique :
        La chambre classique est généralement la catégorie d'entrée de gamme dans un hôtel.
        Elle offre des équipements de base tels qu'un lit, une salle de bains privative et un espace de rangement.
        La décoration peut être simple et fonctionnelle, mais elle est généralement propre et confortable.
        Les chambres classiques conviennent aux voyageurs soucieux de leur budget ou à ceux qui passent peu de temps dans leur chambre. A partir de 89€
   {# <img src="{{ asset('imgfix\chambreclassique-pixabay-1900x1000.jpg')}}" alt=""> #}
</P>
   <P>   Notre gamme Confort :
        Les chambres confort sont une catégorie intermédiaire offrant un niveau de confort supérieur à celui des chambres classiques.
        Elles sont généralement plus spacieuses et disposent d'équipements supplémentaires tels qu'une télévision à écran plat, un minibar et un espace de travail.
        La décoration est souvent plus soignée et contemporaine, offrant une atmosphère plus agréable.
        Les chambres confort conviennent aux voyageurs recherchant un certain niveau de confort sans nécessairement opter pour une suite de luxe. A partir de 269€ 
        {# <img src="{{ asset('upload\chambresdedavis2-1900x1000.jpg')}}" alt=""> #}
        </P>
        <br>
   <P> Notre gamme suite :
        Les suites sont les chambres les plus luxueuses et spacieuses d'un hôtel.
        Elles comprennent généralement une chambre séparée, un salon, une salle de bains spacieuse et parfois même une cuisine ou un coin repas.
        Les suites sont décorées avec élégance et souvent équipées de commodités haut de gamme telles que des peignoirs, des jacuzzis privés et des vues panoramiques.
        Elles conviennent aux voyageurs qui recherchent une expérience de séjour haut de gamme, que ce soit pour une occasion spéciale ou pour un confort exceptionnel lors d'un voyage d'affaires. A partir de 569€
   {# <img src="{{asset('imgfix\chambresuitepopa-1900x1000.jpg')}}" alt=""> #}
        </P>
{% for chambre in chambre %}
    

<div class="card" style="width: 18rem;">
  <img src="{{ chambre.photo}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ chambre.titre}}</h5>
    <p class="card-text">{{ chambre.descriptionlongue}}</p> 
     <p class="card-text">{{ chambre.photo}}</p> 
     <p class="card-text">{{ chambre.prixjournalier}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endfor %}

{# <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    {# 
     
    <div class="container">
        {{ form_start(formChambre)}}
            {{ form_row(formChambre.description_longue)}}
            {{ form_row(formChambre.description_courte)}}
            {{ form_row(formChambre.photo)}}
            {{ form_row(formChambre.prix_journalier)}}
            {{ form_row(formChambre.date_enregistrement)}}
     #}
    {# <P class="text-center">SAVOUREZ VOTRE SEJOUR</P> #}
    </div> 
{% endblock %}

